.wrapper {
  --search-boder-radius: 92px;
  --search-height: 46px;
  --search-width: 361px;
  --search-btn-width: 52px;

  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  .inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search-result {
      width: var(--search-width);

      .search-label {
        font-size: 1.4rem;
        color: rgba(22, 24, 35, 0.5);
        padding: 5px 12px;
      }
    }
    
    .nav-search {
      width: var(--search-width);
      height: var(--search-height);
      display: flex;
      background-color: #f1f1f2;
      border-radius: var(--search-boder-radius);
      padding-left: 15px;
      border: 1.5px solid transparent;
      align-items: center;
      position: relative;
      
      input {
        height: 100%;
        flex: 1;
        background-color: transparent;

        &:not(:placeholder-shown) {
          ~ .search-btn {
            color: var(--primary-color);
          }
        }
      }

      &:focus-within {
        border: 1.5px solid rgba(0, 0, 0, 0.12);
      }

      .clear,
      .loading {
        color: var(--secondary-color);
        position: absolute;
        right: var(--search-btn-width);
        padding-right: 10px;

        &:hover {
          color: var(--primary-color);
        }
      }

      .search-btn {
        width: var(--search-btn-width);
        height: 100%;
        padding: 0 16px 0 12px;
        font-size: 2rem;
        color: var(--secondary-color);
        border-top-right-radius: var(--search-boder-radius);
        border-bottom-right-radius: var(--search-boder-radius);
        position: relative;

        &:active,
        &:hover {
          cursor: pointer;
          background-color: rgba(22, 24, 35, 0.06);
          color: var(--primary-color);
        }

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 1px;
          height: calc(var(--search-height) - 16px);
          background-color: var(--secondary-color);
        }
      }
    }

    .nav-action {
      display: flex;
      gap: 20px;
      .plus {
        padding-right: 8px;
      }
      .upload {
        font-weight: 600;
        color: rgb(22 24 35);
        border: 1px solid var(--secondary-color);
        padding: 5px 15px;
      }

      .more-icon {
        font-size: 2rem;
        background-color: transparent;
        padding: 8px;
        cursor: pointer;
      }
      
    }
  }
}


