.wrapper {
  padding-right: 20px;
}

.item-container {
  display: flex;
  align-items: flex-start;
  color: var(--primary-color);
  font-family: var(--content-font-family);
  padding: 20px 0;
  border-bottom: 1px solid var(--secondary-color);

  .avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

  .avatar-container:hover ~ .content .nickname {
    text-decoration: underline;
  }

  .content {
    flex: 1;
    margin-left: 12px;

    .header {
      display: flex;
      align-items: center;
      gap: 20px;

      .infor {
        flex: 1;

        .author {
          display: flex;
          align-items: center;

          .nickname {
            font-weight: 700;
            font-size: 1.8rem;
            margin-right: 8px;
            .check {
              color: var(--tick-color);
              font-size: 1.4rem;
              margin-left: 4px;
            }
          }

          &:hover {
            .nickname {
              text-decoration: underline;
            }
          }

          .name {
            font-size: 1.4rem;
          }
        }

        .caption {
          font-size: 1.6rem;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          .hastag {
            color: rgba(43, 93, 185, 1);
            font-weight: 600;
          }
        }

        .music {
          font-size: 1.4rem;
          display: flex;
          align-items: center;
          .music-name {
            flex: 1;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-left: 4px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .body {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      .wrapper {
        margin-top: 12px;

        .video-container {
          height: calc(450px + (100vw - 768px) / 1152 * 200);
          max-height: calc(450px + (100vw - 768px) / 1152 * 200);
          position: relative;
        }
      }

      .actions {
        list-style: none;
        margin-left: 20px;
        cursor: pointer;

        .action-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 8px;

          .icon {
            background-color: rgba(22, 24, 35, 0.06);
            color: rgb(22, 24, 35);
            border-radius: 999px;
            padding: 10px;
            display: flex;
            cursor: pointer;
          }
          .heart-icon.like {
            color: var(--pink-color);
            transition: all ease-in-out 200ms;
            animation: scaleUp 0.5s linear;
          }

          .save-icon.active {
            color: #face15;
            transition: all ease-in-out 200ms;
            animation: scaleUp 0.5s linear;
          }

          .label {
            font-size: 1.2rem;
            font-weight: 600;
            color: rgba(22, 24, 35, 0.75);
          }
        }
      }
    }
  }
}

.loader-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-20%);
  position: relative;
}
.loader {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-left: 10%;
  transform: translate3d(-50%, -50%, 0);
}

.dot {
  width: 20px;
  height: 20px;
  background: #3ac;
  border-radius: 100%;
  display: inline-block;
  animation: slide 1s infinite;
}

@for $i from 1 to 5 {
  .dot:nth-child(#{$i}) {
    animation-delay: (0.1s * $i);
    background-color: adjust-hue(#3ac, 50*$i);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1.2);
  }
}




@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
