.wrapper {
  font-size: 1.3rem;
  color: rgba(22, 24, 35, 0.5);
  padding-top: 16px;
  padding-left: 8px;
  font-weight: 600;
  position: relative;
  .link-container {
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    .link-item {
      color: rgba(22, 24, 35, 0.5);
      line-height: 1.6rem;
      margin: 5px 6px 0 0;

      &:hover {
        text-decoration: underline;
      }
    }

  }
  
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    height: 0.8px;
    width: 90%;
    background-color: var(--secondary-color);
  }
}
