@import 'normalize.css';
// @import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap);

:root {
    --primary-color: #1d1f2a;
    --secondary-color: #b5b5b5;
    --pink-color: #fe2c55;
    --white-color: #fff;
    --tick-color: #20D5EC;
    
    --font-family: 'TiktokFont-Regular';

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;

    // Sidebar
    --default-layout-sidebar-width: 310px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

button, input, [tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--primary-color);
    text-decoration: none;
}


// Tiktok fonts embeded
@font-face {
    font-family: TiktokDisplayFont;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TiktokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: TiktokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 500;
}
@font-face {
    font-family: TiktokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

// Custom tippy tooltips
body .tippy-box {
    background-color: rgba(84, 84, 84, 0.92);
    font-size: 1.6rem;
    line-height: 2.2rem;
    border-radius: 8px;
    padding: 2px;
}

body .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
}

//scollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, .2);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}