@import 'normalize.css';
// @import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap);

:root {
    --primary-color: #1d1f2a;
    --secondary-color: #b5b5b5;
    --pink-color: #fe2c55;
    --white-color: #fff;
    --tick-color: #20D5EC;
    
    --heading-font-family: 'TikTokDisplayFont', Arial, Tahoma, PingFangSC, sans-serif;
    --content-font-family: 'TikTokFont', Arial, Tahoma, PingFangSC, sans-serif;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;

    // Sidebar
    --default-layout-sidebar-width: 310px;

    --slide-data: 0%;
    --progress: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--content-font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

button, input, [tabindex] {
    border: none;
    outline: none;
    font-family: var(--content-font-family);
    background-color: transparent;
    cursor: pointer;
}

a[href] {
    color: var(--primary-color);
    text-decoration: none;
    font-family: var(--content-font-family);
}
select,
input {
  font-family: var(--content-font-family);
  font-size: 1.6rem;
}


// Tiktok fonts embeded
@font-face {
  font-family: 'TikTokFont';
  src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Regular.woff2?_default_font=1&v=2)
      format('woff2'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Regular.woff?_default_font=1&v=2)
      format('woff'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Regular.otf?_default_font=1&v=2)
      format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'TikTokFont';
  src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Semibold.woff2?_default_font=1&v=2)
      format('woff2'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Semibold.woff?_default_font=1&v=2)
      format('woff'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Semibold.otf?_default_font=1&v=2)
      format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'TikTokFont';
  src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Semibold.woff2?_default_font=1&v=2)
      format('woff2'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Semibold.woff?_default_font=1&v=2)
      format('woff'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Semibold.otf?_default_font=1&v=2)
      format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'TikTokFont';
  src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Bold.woff2?_default_font=1&v=2)
      format('woff2'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Bold.woff?_default_font=1&v=2)
      format('woff'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Bold.otf?_default_font=1&v=2)
      format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'TikTokDisplayFont';
  src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Regular.woff2?_default_font=1&v=2)
      format('woff2'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Regular.woff?_default_font=1&v=2)
      format('woff'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Regular.otf?_default_font=1&v=2)
      format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'TikTokDisplayFont';
  src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Semibold.woff2?_default_font=1&v=2)
      format('woff2'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Semibold.woff?_default_font=1&v=2)
      format('woff'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Semibold.otf?_default_font=1&v=2)
      format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'TikTokDisplayFont';
  src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Semibold.woff2?_default_font=1&v=2)
      format('woff2'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Semibold.woff?_default_font=1&v=2)
      format('woff'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Semibold.otf?_default_font=1&v=2)
      format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'TikTokDisplayFont';
  src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Bold.woff2?_default_font=1&v=2)
      format('woff2'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Bold.woff?_default_font=1&v=2)
      format('woff'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Bold.otf?_default_font=1&v=2)
      format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

// Custom tippy tooltips
body .tippy-box {
    background-color: rgba(84, 84, 84, 0.92);
    font-size: 1.6rem;
    line-height: 2.2rem;
    border-radius: 8px;
    padding: 2px;
}

body .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
}

//scollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, .2);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

svg {
    display: flex;
}

.not-login-message {
  color: rgba(22, 24, 35, 0.75);
  margin-top: 30%;
  text-align: center;
}