.wrapper {
  padding: 32px 24px 36px 0;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 490px;
  .nav-tab {
    display: flex;
    color: rgb(115, 116, 123);
    font-size: 1.8rem;
    font-weight: 500;
    position: relative;
    margin-bottom: 8px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.12);
    }
    .tab-item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      height: 44px;
      padding: 0 32px;
      cursor: pointer;
      & * {
        pointer-events: none;
      }

      &.active {
        color: var(--primary-color);
      }
    }

    .bottom-line {
      position: absolute;
      bottom: 0;
      height: 2px;
      background-color: rgb(22, 24, 35);
      transition: transform 0.3s ease 0s;
    }
  }

  .videos-list-container {
    display: grid;
    gap: 24px 16px;
    grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));

    .video-item {
      .video-preview {
        padding-top: 132%;
        position: relative;
        .video-wrapper {
          position: absolute;
          inset: 0;
          video {
            display: block;
            object-fit: cover;
          }
          .video-bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100px;
            background: linear-gradient(rgba(22, 24, 35, 0) 2.92%, rgba(22, 24, 35, 0.5) 98.99%);
            padding: 67px 13px 17px;
            display: flex;
            align-items: center;
            gap: 6px;
            color: var(--white-color);
            .view-count {
              font-size: 1.6rem;
              font-weight: 600;
              color: var(--white-color);

            }
            
          }
        }
      }
      .title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.lock-msg {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .lock-icon {
    opacity: 0.34;
  }
  .title {
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 8px;
  }
  .sub-title {
    color: rgba(22, 24, 35, 0.75);
    letter-spacing: 0.03px;
  }
}
