  .user-modal-container {
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 50px;
    font-size: 1.6rem;

    &.signup {
      flex-direction: row-reverse;
    }

    .img-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      .img {
        margin-bottom: 12px;
      }
    }

    .form-section {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .form-label {
        font-size: 3.8rem;
        font-weight: 700;
        margin-bottom: 20px;
      }

      .form-group {
        position: relative;
        margin-bottom: 15px;
        .icon {
          position: absolute;
          left: 0;
          top: 10px;
        }
        .form-input {
          font-size: 1.6rem;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid var(--primary-color);
          padding: 10px 10px 10px 25px;

          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
        .err-message {
          font-size: 1.2rem;
          color: rgb(202, 0, 0);
        }
      }

      .checkbox {
        padding-top: 8px;
        padding-bottom: 36px;
        display: flex;
        align-items: center;
        gap: 8px;
        .term-link {
          text-decoration: underline;
          margin-left: 4px;
        }
      }
      .errMsg {
        color: rgb(202, 0, 0);
        margin-bottom: 12px;
      }
    }

    .other-options {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      margin-top: 70px;

      .icon-facebook {
        background-color: #3b5998;
      }

      .icon-twitter {
        background-color: #1da0f2;
      }

      .icon-google {
        background-color: #e72734;
      }
    }
  }
