.wrapper {
    width: 356px;

    .sibar-list {
        list-style: none;

        .sidebar-item {
            font-size: 1.8rem;
            font-weight: 600;

            .sidebar-link {
                display: inline-block;
                width: 100%;
                padding: 6px 0;
            }

            &.active {
                .sidebar-link {
                    color: var(--pink-color);
                }
            }
        }
    }
}