// Menu
.content {
  width: 224px;
}

.menu-list {
  overflow-y: auto;
}

.menu-item {
  border: none;
  width: 100%;
  justify-content: flex-start;
  font-weight: 500;
  border-radius: 0;
  height: 42px;

  i {
    margin-right: 8px;
    width: 18px;
    text-align: center;
  }
  
  &:last-child {
    margin-bottom: 8px;
  }

  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
  }

  & + .menu-item {
    margin-left: 0;
  }
}

// Header
.header {
  position: relative;
  height: 50px;
  margin-top: -8px;
  flex-shrink: 0;
  .back-btn {
      width: 50px;
      height: 100%;
      cursor: pointer;
      background-color: transparent;
  }
  .header-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
}