.wrapper {
  
  margin-top: 12px;

  .video-container {
    height: calc(450px + (100vw - 768px) / 1152 * 200);
    position: relative;

    .video {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
}

.control {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 8px;
  color: var(--white-color);
  cursor: pointer;

  .control-volume {
    position: relative;

    input[type='range'][orient='vertical'] {
      writing-mode: bt-lr; /* IE */
      -webkit-appearance: slider-vertical; /* Chromium */
      appearance: slider-vertical;
      accent-color: var(--white-color);
      width: 4px;
      height: 70px;
      padding: 0;
    }

    .volume-change {
      position: absolute;
      top: -70px;
      right: 12px;
      display: none;
    }

    &:hover {
      .volume-change {
        display: block;
      }
    }
  }
}


